<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".MainError_Internet"></activity>
        <activity
            android:name=".MainListaproducto"
            android:parentActivityName=".MainProductosCliente" />
        <activity
            android:name=".MainFacturaList"
            android:parentActivityName=".MainProductosCliente" />
        <activity
            android:name=".MainProductosCliente"
            android:parentActivityName=".MainListaproducto" />
        <activity
            android:name=".MainRecibo"
            android:parentActivityName=".MainFactura" />
        <activity
            android:name=".Maincuentas"
            android:parentActivityName=".MainFactura" />
        <activity
            android:name=".MainFactura"
            android:parentActivityName=".MainFactura" />
        <activity android:name=".MainMenu" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>